<section class="text-center">
    <h1 class="display-4 fw-bold">¡Hola!
        Soy Giovanni Chipa</h1>
    <section>
        <p id="typed-text" class="lead">
            "Soy estudiante de Ingeniería de Sistemas con un enfoque en desarrollo web. Apasionado por la tecnología, combino lógica, creatividad y habilidades analíticas para diseñar soluciones eficientes y de alto impacto. Mi formación académica me ha proporcionado una sólida base en programación, desarrollo de software y arquitectura de sistemas, lo que me permite afrontar desafíos técnicos con un enfoque estratégico y orientado a resultados."
        </p>
      </section>
      
      
    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="/about" class="btn btn-custom-primary btn-lg ">Sobre mí</a>
      <a href="https://www.linkedin.com/in/giovanni-david-chipa-espinoza-311369348" class="btn btn-custom-outline btn-lg" target="_blank">Contactarme</a>

    </div>
  </section>
  