<div class="bot-container" id="bot-container" style="z-index: 1;">
    <div class="bot-icon" onclick="toggleBot()"></div>
    
    <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/09a8daa8-1fa4-4e2b-9368-75655569a73a">
    </iframe>
</div>

<script>
    // Función para alternar el estado del bot (mostrar/ocultar iframe)
    function toggleBot() {
        const botContainer = document.getElementById('bot-container');
        botContainer.classList.toggle('active');
    }

    // Función para cerrar el bot al hacer clic en el icono de "X"
    function closeBot() {
        const botContainer = document.getElementById('bot-container');
        botContainer.classList.remove('active');
    }
</script>